.HeaderClass{
                border-style: solid;
                background-color: white;
                width: 100%;
                height: 79px;
                margin-top: -9px;
                margin-left: -9px;
               
       
       
 }
 .formStyle { 
    background-color: #2ecc71;
    padding: 20px; 
    width: 100%;
    height: 600px; 
    margin-bottom: 20px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ecf0f1; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
  }
 .formheading {
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    font-weight: 100;
    font-size: 2.8em;
    color: #ffffff;
  }
  
  .formButton {

      background-color:#ffffff;
      display:inline-block;
      color:#2ecc71;
      font-size:28px;
      font-weight: 500;
      padding:6px 24px;
      margin-top: 15px;
      margin-right: 60px;
      text-decoration:none;
  }
  
  .formButton:hover {
      background-color: #27ae60;
    color:#ffffff;
  }
  
  .formButton:active {
      
      position:relative;
      top:3px;
  }
::-webkit-input-placeholder {
    color: #ecf0f1;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #ecf0f1;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #ecf0f1;  
 }
 
 :-ms-input-placeholder {  
    color: #ecf0f1;  
 }