{% load static %}

{% load wagtailcore_tags %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Food Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/MyStyle.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>


<form method="POST" class="post-form" action=".">  
    {% csrf_token %}  
    <div class="main-w3layouts wrapper">
		<h1> Food Details</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form method="POST" class="post-form" action=".">
                  <p class = "mentorfields"> Food Id :{{form1.FoodId}}</p>
                  <p class = "mentorfields"> Food Name:{{form1.FoodName}}</p>
                  <p class = "mentorfields"> Meal Time : {{form1.MealTime}}</p>
                  <p class = "mentorfields"> Taste : {{form1.Taste}}</p>
                  <p class = "mentorfields"> Major Ingredients:{{form1.MajorIngredient}}</p>
                  <p class = "mentorfields"> Special Ingredients:{{form1.SpecialIngredient}}</p>
					<input type="submit" value="Save">
				</form>
		</div>
		</div>
  
    
</form>


{% endblock content %}
</body>
</html>