 {% load static %}

{% load wagtailcore_tags %}

<!-- {% block content %}
<form method="POST" class="form-group">
	{% csrf_token %}
	{{ form }}
	<button type="submit" class="btn btn-success">Login</button>
    </form>
{% endblock content %} -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>
    .myform {
        margin-top: 200px;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    h1 {
        text-align: center;
        color: #212529;
        font-weight: bolder;
    }
</style>
<form method="POST">
    {% csrf_token %}

    <div class="myform">
        <h1>Login</h1>
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username" id="name">
        </div>
        <!-- <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby=" emailHelp " placeholder="Enter email ">
            <small id="emailHelp " class="form-text text-muted ">We'll never share your email with anyone else.</small>
        </div> -->
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <!-- <input type="password " name="password2 " placeholder="Confirm Password "><br> -->
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  
</form>
<div>
    {% for message in messages %}
    <h3>{{message}}</h3>{% endfor %}

</div>
  